@charset "UTF-8";

:root {
	--linkFontColor: #0d0d0d;
	--primaryColor: #2710d5;
	--mainWidth: 620px;
	--mainRadius: 476px;
}

/** PC、スマホ共通スタイル */
body {
	font-family: "Source Sans Pro", "Hiragino Kaku Gothic ProN", Meiryo, Arial, sans-serif;
}

p {
	font-size: 15px;
}

/**
* PC用のスタイル
*/
body {
	max-width: 1080px;
	min-width: 960px;
	margin: 0 auto;
}

header {
	display: flex;
	justify-content: space-between;
}

/** ナビゲーションのレイアウト */
#nav-pc {
	text-align: right;
	font-size: 14px;
	padding-top: 15px;
}

#nav-pc > a {
	text-decoration: none;
	margin-left: 20px;
}

#nav-pc > a:link {
	color: var(--linkFontColor);
}

#nav-pc > a:visited {
	color: var(--linkFontColor);
}

#nav-pc > a:hover {
	color: var(--linkFontColor);
	text-decoration: underline;
}

#nav-pc > a:active {
	color: var(--linkFontColor);
}

/** main visual */
#main-visual {
	position: relative;
	height: 400px;
}

#main-message {
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--primaryColor);
	color: white;
	border-radius: 0 0 var(--mainRadius) 0;
	max-width: var(--mainWidth);
	height: 100%;
	width: 100%;
	z-index: 11;
}

#main-message > h1 {
	font-size: 60px;
	font-weight: bold;
	margin: 100px 0 0 50px;
}

#main-message > p {
	font-size: 28px;
	margin: 0 0 0 50px;
}

#main-visual > img {
	max-width: var(--mainWidth);
	border-radius: var(--mainRadius) 0 0 0;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
}

/** 見出し */
h2 {
	margin-top: 40px;
}

h2::after {
	content:  url("images/line.png");
	margin-left: 10px;
}

h3 {
	font-size: 27px;
}

/** mission */
#mission {
	margin: 80px auto;
	width: 100%;
}

#mission-flex {
	width: 100%;
	display: flex;
}

#mission-flex > div {
	width: 50%;
	margin: 20px;
}

#mission-photo {
	width: 100%;
}

#s2dgs {
	margin-top: 50px;
	width: 100%;
}

/** product */
#product {
	background-color: #fafafa;
	margin: 80px auto;
	padding: 10px 40px 0 40px;
}

#product > div {
	margin-top: 40px;
	display: flex;
}

#product-left {
	width: 50%;
	margin-right: 20px;
}

#product-right {
	width: 50%;
	margin-left: 20px;
	margin-top: 80px;
}

#product-left > div {
	position: relative;
	height: 480px;
	margin-right: 20px;
}

#product-right > div {
	position: relative;
	height: 480px;
	margin-left: 20px;
}

.product-photo {
	width: 100%;
}

.product-explain {
	background-color: white;
	position: absolute;
	left: 0;
	top: 280px;
	margin: 0 40px;
	padding: 20px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
}

.product-explain > span {
	color: var(--primaryColor);
	font-weight: bold;
	font-size: 16px;
	margin: 0;
}

.product-explain > h3 {
	font-size: 20px;
	margin: 5px 0;
}

.product-explain > p {
	font-size: 14px;
	margin: 0;
}

#product-more {
	margin: 0 auto -42px auto;
}

/** about us */
#aboutus {
	margin: 80px auto;
}

#aboutus > div {
	display: flex;
}

.culture-img {
	width: 100%;
	align-self: flex-start;
}

.culture-img2 {
	width: 100%;
	margin-top: 50px;
}

.culture-table {
	margin-right: 50px;
}

.culture-num {
	font-size: 80px;
	color: var(--primaryColor);
	margin: 0 20px 0 0;
}

.culture-en {
	font-size: 24px;
	color: var(--primaryColor);
	font-weight: bold;
	display: flex;
}

.culture-jp {
	font-size: 28px;
	font-weight: bold;
}

.culture-description {
	margin: 0;
}