@charset "UTF-8";

:root {
	--linkFontColor: #0d0d0d;
	--primaryColor: #2710d5;
	--primaryBGColor: white;
	--secondaryBGColor: #fafafa;

	--borderColor: #ececec;
	--borderWidth: 1px;

	--mainWidth: 620px;
	--mainRadius: 476px;

	--gutter: 80px;
}

@function --pc-mobile(--pc, --mobile) {
	result: if(media(width > 767px): var(--pc); else: var(--mobile));
}

/** PC、スマホ共通スタイル */
* {
	box-sizing: border-box;
}

p {
	font-size: 15px;
}

body {
	font-family: "Source Sans Pro", "Hiragino Kaku Gothic ProN", Meiryo, Arial, sans-serif;
	max-width: 1080px;
	min-width: --pc-mobile(960px, 375px);
	margin: 0 auto;
}

header {
	display: flex;
	justify-content: space-between;

	/** ナビゲーションのレイアウト */
	#nav-pc {
		display: --pc-mobile(block, none);

		text-align: right;
		font-size: 14px;
		padding-top: 15px;

		:is(a) {
			color: var(--linkFontColor);
			text-decoration: none;
			margin-left: 20px;
		}

		:is(a:hover) {
			text-decoration: underline;
		}
	}

	#menu-sp {
		display: block;
		background-color: transparent;
		float: right;
		padding: 0;
		border: none;
	}

	#nav-sp {
		background-color: var(--primaryColor);
		position: fixed;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		display: none;
		z-index: 100;

		:is(div) {
			:is(ul) {
				padding-left: 0;

				:is(li) {
					list-style: none;

					:is(a) {
						display: block;
						color: white;
					}

					:is(a:hover) {
						text-decoration: underline;
					}

					.menu {
						text-decoration: none;
						margin: 0 20px 0 20px;
						height: 44px;
						font-size: 16px;
						background-image: url("images/arrow.png");
						background-repeat: no-repeat;
						background-position: right top;
					}
				}
			}
		}
	}

	#close {
		position: absolute;
		top: 20px;
		right: 20px;
		background-color: transparent;
		border: none;
	}

	#logo-sp {
		margin: 80px 0 30px 20px;
	}

	#sns {
		position: absolute;
		bottom: 20px;
		left: 20px;

		> :is(a) {
			margin-right: 30px;
		}
	}
}

/** main-visual */
#main-visual {
	position: relative;
	height: 400px;

	#main-message {
		position: absolute;
		top: 0;
		left: 0;
		background-color: var(--primaryColor);
		color: white;
		border-radius: 0 0 var(--mainRadius) 0;
		max-width: var(--mainWidth);
		height: 100%;
		width: 100%;
		z-index: 11;

		:is(h1) {
			font-size: 60px;
			font-weight: bold;
			margin: 100px 0 0 50px;
		}

		:is(p) {
			font-size: 28px;
			margin: 0 0 0 50px;
		}
	}

	:is(img) {
		max-width: var(--mainWidth);
		border-radius: var(--mainRadius) 0 0 0;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 10;
	}
}

/** 見出し */
h2 {
	margin-top: 40px;

	&::after {
		content: url("images/line.png");
		margin-left: 10px;
	}
}

h3 {
	font-size: 27px;
}

/** mission */
#mission {
	margin: var(--gutter) auto;

	#mission-flex {
		display: flex;

		:is(div) {
			margin: 20px;
			width: 50%;
		}
	}

	#mission-photo {
		width: 100%;
	}

	#s2dgs {
		margin-top: 50px;
		width: 100%;
	}
}

/** product */
#product {
	background-color: var(--secondaryBGColor);
	margin: var(--gutter) auto;
	padding: 10px 40px 0 40px;

	#product-flex {
		margin-top: calc(var(--gutter) / 2);
		display: flex;

		#product-left {
			width: 50%;
			margin-right: calc(var(--gutter) / 4);

			> :is(div) {
				position: relative;
				height: 480px;
				margin-right: calc(var(--gutter) / 4);
			}
		}

		#product-right {
			width: 50%;
			margin-left: calc(var(--gutter) / 4);
			margin-top: var(--gutter);

			> :is(div) {
				position: relative;
				height: 480px;
				margin-left: calc(var(--gutter) / 4);
			}
		}
	}

	.product-photo {
		width: 100%;
	}

	.product-explain {
		background-color: var(--primaryBGColor);
		position: absolute;
		left: 0;
		top: 280px;
		margin: 0 calc(var(--gutter) / 2);
		padding: calc(var(--gutter) / 4);
		box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);

		:is(span) {
			color: var(--primaryColor);
			font-size: 16px;
			font-weight: bold;
			margin: 0;
		}

		:is(h3) {
			font-size: 20px;
			margin: 5px 0;
		}

		:is(p) {
			font-size: 14px;
			margin: 0;
		}
	}

	#product-more {
		text-align: center;

		:is(a) {
			position: relative;
			bottom: -42px;
		}
	}
}

/** about us */
#aboutus {
	margin: var(--gutter) auto;

	:is(div) {
		display: flex;
	}

	.culture-img {
		width: 50%;
		align-self: flex-start;
	}

	.culture-img2 {
		width: 100%;
		margin-top: 50px;
	}

	.culture-table {
		margin-right: 50px;

		.culture-num {
			color: var(--primaryColor);
			font-size: 80px;
			padding: 0 20px 0 0;
		}

		:is(th) {
			text-align: left;
			font-size: 28px;
			font-weight: bold;
		}

		.culture-en {
			color: var(--primaryColor);
			font-size: 24px;
		}

		.culture-description {
			margin: 0;
		}
	}
}

/** vision */
#vision {
	margin: var(--gutter) auto;

	> :is(div) {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.vision-box {
		width: 300px;
		height: 300px;
		margin-bottom: 30px;
		position: relative;

		:is(img) {
			width: 100%;
			position: relative;
			z-index: 30;
		}

		:is(div) {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 31;
			margin-right: 20px;

			:is(h4) {
				color: var(--primaryColor);
				font-size: 19px;
				margin-top: var(--gutter);

				&::first-letter {
					font-size: 40px;
				}
			}

			:is(h5) {
				font-size: 20px;
				margin: 0;
			}

			:is(p) {
				margin-top: 10px;
			}
		}
	}
}

/** company */
#company {
	margin: var(--gutter) auto;

	#company-table {
		width: 100%;

		.tableheader {
			text-align: left;
			padding: 20px;
			border-bottom-color: var(--primaryColor);
			border-bottom-width: var(--borderWidth);
			border-bottom-style: solid;
			width: 100px;
		}

		.tableheader-first {
			border-top-color: var(--primaryColor);
			border-top-width: var(--borderWidth);
			border-top-style: solid;
		}

		.cell {
			padding: 30px;
			border-bottom-color: var(--borderColor);
			border-bottom-width: var(--borderWidth);
			border-bottom-style: solid;
		}

		.cell-first {
			border-top-color: var(--borderColor);
			border-top-width: var(--borderWidth);
			border-top-style: solid;
		}
	}

	:is(iframe) {
		width: 100%;
		height: 368px;
		margin-top: calc(var(--gutter) / 2);
	}
}

/** contact */
#contact {
	--borderColor: #707070;

	margin: var(--gutter) auto;

	> :is(form) {
		> :is(div) {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			padding-bottom: 30px;

			.contact-heading {
				width: 240px;
				align-self: center;
			}

			.contact-label {
				font-weight: bold;
			}

			.contact-span {
				color: #ce2222;
				margin-left: 20px;
				font-weight: bold;
			}

			.contact-textbox, .contact-textarea {
				border-top: 0;
				border-left: 0;
				border-right: 0;
				border-bottom-width: var(--borderWidth);
				border-bottom-color: var(--borderColor);
				border-bottom-style: solid;
				background-color: var(--secondaryBGColor);
				width: 400px;
				height: if(style(--text-type: textarea): 200px; else: 56px);
			}

			.contact-textarea {
				--text-type: textarea;
			}
		}
	}

	dt {
		font-weight: bold;
	}

	dd {
		margin-bottom: 16px;

		p {
			margin: 0;
		}

		ul {
			padding-left: 0;
		}

		li {
			margin-bottom: 0;
			list-style: none;
		}
	}
}

/** footer */
footer {
	--primaryBGColor: #0d0d0d;
	--linkFontColor: white;

	background-color: var(--primaryBGColor);
	text-align: center;
	padding: var(--gutter) var(--gutter) 30px var(--gutter);

	#footer-logo {
		margin-bottom: 30px;
	}

	#footer-link {
		margin-bottom: 50px;

		> :is(a) {
			text-decoration: none;
			margin: 10px;
			color: var(--linkFontColor);
		}

		> :is(a:hover) {
			text-decoration: underline;
		}
	}

	#sns-footer {
		display: flex;
		justify-content: space-between;
		text-align: left;

		:is(a) {
			margin-right: 30px;
		}
	}

	#copyright {
		color: var(--linkFontColor);
		margin: 0;
	}
}